
{% load staticfiles %}

<html>

    <head>
        <title>About</title>
    </head>
    {% extends 'rango/base.html' %}
    {% load staticfiles %}
    {% block title_block %}
        About
    {% endblock %}


    {% block body_block %}
        <h1>Rango says...</h1>
        <div>
             This tutorial has been put together by Tianyu Cui<br />
             <img src="{% static 'images/tango.jpg' %}" alt="Picture of Tango" /><br />

        </div>
        <div>
            <img src="{{ MEDIA_URL}}cat.jpg" alt="Picture of Cat" />
        </div>

{% endblock %}